{% extends "layouts/base.html.twig" %}

{% block body %}
  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="container">
    <div class="row">
        <div class="one-half column" style="margin-top: 25%">
            <h4>Users</h4>
        </div>
    </div>
    <a class="button button-primary" href="/users/add">Add user</a>
    {% if users %}
        <div class="row">
            <div class="column">
                <table class="u-full-width">
                    <thead>
                        <tr>
                            <th>Prénom</th>
                            <th>Nom</th>
                            <th>Email</th>
                            <th>Projects</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <td>{{ user.getFirstName }}</td>
                            <td>{{ user.getLastName }}</td>
                            <td>{{ user.getEmail }}</td>
                            <td><a class="button button-primary" href="/users/{{ user.getId }}/projects">Projects</a></td>
                            <td><a class="button button-primary" href="/users/edit/{{ user.getId }}">Edit</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
    <a class="button button-primary" href="/projects">Projects</a>
</div>
<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
{% endblock %}